# {{ interface_package }}/{{ interface_name }} {{ type }}

**File:** `{{ interface_package }}/{{ interface_name }}.{{ ext }}`

## Raw Service Definition

```
{% for line in raw_text.splitlines() -%}
{{ line }}
{% endfor -%}
```

## Compact Service Definition

### Request

{% if constant_types_request and constant_names_request -%}
**Constants:**

{% for i in range(constant_types_request|length) -%}
- `{{ constant_types_request[i] }} {{ constant_names_request[i] }}`
{% endfor %}

{% endif -%}
**Fields:**

{% if field_types_request and field_names_request -%}
{% for i in range(field_types_request|length) -%}
{% if relative_paths_request[i] -%}
- [`{{ field_types_request[i] }}`](../../{{ relative_paths_request[i] }}) `{{ field_names_request[i] }}{{ field_default_values_request[i] }}`
{% else -%}
- `{{ field_types_request[i] }}` `{{ field_names_request[i] }}{{ field_default_values_request[i] }}`
{% endif -%}
{% endfor -%}
{% else -%}
*No fields*
{% endif %}

### Response

{% if constant_types_response and constant_names_response -%}
**Constants:**

{% for i in range(constant_types_response|length) -%}
- `{{ constant_types_response[i] }} {{ constant_names_response[i] }}`
{% endfor %}

{% endif -%}
**Fields:**

{% if field_types_response and field_names_response -%}
{% for i in range(field_types_response|length) -%}
{% if relative_paths_response[i] -%}
- [`{{ field_types_response[i] }}`](../../{{ relative_paths_response[i] }}) `{{ field_names_response[i] }}{{ field_default_values_response[i] }}`
{% else -%}
- `{{ field_types_response[i] }}` `{{ field_names_response[i] }}{{ field_default_values_response[i] }}`
{% endif -%}
{% endfor -%}
{% else -%}
*No fields*
{% endif %}

---

*Generated on {{ timestamp }}*
