# {{ interface_package }}/{{ interface_name }} {{ type }}

**File:** `{{ interface_package }}/{{ interface_name }}.{{ ext }}`

## Raw Service Definition

```
{% for line in raw_text.splitlines() -%}
{{ line }}
{% endfor -%}
```

## Compact Service Definition

### Request

{% if constant_types_request and constant_names_request -%}
**Constants:**

{% for constant_type, constant_name in zip(constant_types_request, constant_names_request) -%}
- `{{ constant_type }} {{ constant_name }}`
{% endfor %}

{% endif -%}
**Fields:**

{% if field_types_request and field_names_request -%}
{% for relative_path, field_type, field_name, default_value in zip(relative_paths_request, field_types_request, field_names_request, field_default_values_request) -%}
{% if relative_path -%}
- [`{{ field_type }}`](../../{{ relative_path }}) `{{ field_name }}{{ default_value }}`
{% else -%}
- `{{ field_type }}` `{{ field_name }}{{ default_value }}`
{% endif -%}
{% endfor -%}
{% else -%}
*No fields*
{% endif %}

### Response

{% if constant_types_response and constant_names_response -%}
**Constants:**

{% for constant_type, constant_name in zip(constant_types_response, constant_names_response) -%}
- `{{ constant_type }} {{ constant_name }}`
{% endfor %}

{% endif -%}
**Fields:**

{% if field_types_response and field_names_response -%}
{% for relative_path, field_type, field_name, default_value in zip(relative_paths_response, field_types_response, field_names_response, field_default_values_response) -%}
{% if relative_path -%}
- [`{{ field_type }}`](../../{{ relative_path }}) `{{ field_name }}{{ default_value }}`
{% else -%}
- `{{ field_type }}` `{{ field_name }}{{ default_value }}`
{% endif -%}
{% endfor -%}
{% else -%}
*No fields*
{% endif %}

---

*Generated on {{ timestamp }}*
